<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>TaobaoShop</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>pers.mao.taobaoshop.web.servlet.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProductServlet</servlet-name>
        <servlet-class>pers.mao.taobaoshop.web.servlet.SaveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-class>pers.mao.taobaoshop.web.servlet.OrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderServlet</servlet-name>
        <servlet-class>pers.mao.taobaoshop.web.servlet.OrderEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderUpdateServlet</servlet-name>
        <servlet-class>pers.mao.taobaoshop.web.servlet.OrderUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpressQueryServlet</servlet-name>
        <servlet-class>pers.mao.taobaoshop.web.servlet.ExpressQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProductServlet</servlet-name>
        <url-pattern>/product/save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListServlet</servlet-name>
        <url-pattern>/order/order_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>/order/edit_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderUpdateServlet</servlet-name>
        <url-pattern>/order/update_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpressQueryServlet</servlet-name>
        <url-pattern>/express/query</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>


</web-app>